@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@600&family=Oswald:wght@200&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
}


body {
  background-color: #1f2833;

}


main {
  background-color: #45A29e;
  width: 1850px;
  margin: 3rem auto;
}
  
h1 {
  font-size: 3rem;
  font-family: 'Dancing Script'
}

section {
  padding: 2rem;
  display: flex;
}


section img {
  width: 400px;
  max-height: 30rem;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid #66FCF1;
}

section.end-voting img:hover {
  cursor: not-allowed;
  border: 5px solid transparent;

}

section+div {
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 1rem;
  height: max-content;
  width: max-content;

}