/* Importing a google Font */

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@600&family=Oswald:wght@200&family=Pacifico&display=swap');

/* Box Sizing */

* {
  box-sizing: border-box;
}

/* Basic styles for colors, widths, margins, borders, hovering */
body {
  background-color: #1f2833;

}


main {
  background-color: #45A29e;
  width: 1850px;
  margin: 3rem auto;
}
  
h1 {
  font-size: 3rem;
  font-family: 'Dancing Script';
  border-bottom: 2px solid black;
}

section {
  padding: 2rem;
  display: flex;
}

img{
  width: 400px;
  height: 300px;
}


section img {
  width: 300px;
  max-height: 30rem;
  border: 5px solid transparent;
}

section img:hover {
  border: 5px solid #66FCF1;
}



section+div {
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 1rem;
  height: max-content;
  width: max-content;

}

.chart{
  top: 0px;
  margin-left: 50%;
  margin-top: -20%;

}

h2{
  font-weight: bold;
  font-size: 30px;
  margin-left: -80%;